<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paras.recognitioncam"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CameraApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="RC Scanner"

        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="RC Scanner"
            android:screenOrientation="landscape">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Preferences" />
        <activity android:name=".DisplayWeb">
        </activity>

        <activity android:name=".EventsActivity">


        </activity>
    </application>

</manifest>